<head>
<meta name="author" content="Robot Del Sol">
<meta name="email" content="robot@eds.edu.ar">
<style>
body {
  width: 60%;
  font-size: 115%;
  font-family: "Georgia", serif;
  text-align: left;
  color: #222222;
  background-color: #cccccc;
}

h1, h2, h3 {
  font-family: "Verdana", sans-serif;
  color: #e5a40e;
  padding: 1% 1% 1% 1%;
  text-align: left;
  text-decoration: bold;
}

h1 {
  font-size: 190%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 115%;
}

img {
  width: 100%;
}

table {
  align: center;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  body {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

button {
  background-color: #d2d2be;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 130%;
  border: none;
  border-radius: 8px;
  color: #343420;
  margin: 2px 2px;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #343420;
  color: #d2d2be;
}

button:active {
  background-color: #d2d2be;
  color: #343420;
}
</style>
</head>
