body {
  width: 60%;
  font-size: 115%;
  font-family: "Georgia", serif;
  text-align: left;
  color: #333333;
  background-color: #ffffff;
}

h1, h2, h3 {
  font-family: "Garamond", sans-serif;
  color: #555555;
  padding: 0%;
  margin: 0%;
  text-align: left;
  text-decoration: bold;
}

h1 {
  font-size: 190%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 115%;
}

p {
  font-size: 100%;
  padding: 0%;
  margin: 0%;
}

p.date {
  font-family: "monospace", sans-serif;
  font-weight: 200;
  text-align: right;
}

img {
  width: 100%;
}

img.icon {
  width: 48px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

table {
  align: center;
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 0;
  margin: 0;
}

table.footer {
  align: center;
  width: 35%;
}

tr {
  padding: 0%;
}
td {
  vertical-align: top;
  padding: 2%;
}

hr {
  border-width: 0;
  background-color: #e5a40e;
  height: 2px;
}

@media screen and (max-width: 900px) {
  body {
    width: 80%;
  }
  table.footer {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  table.footer {
    width: 55%;
  }
}

button {
  background-color: #cccccc;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 130%;
  border: none;
  border-radius: 8px;
  color: #343420;
  margin: 2%;
  padding: 3%;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #000000;
  color: #d2d2be;
}

button:active {
  background-color: #000000;
  color: #343420;
}

a {
  text-decoration: none;
}
a:link {
  color: #555555;
}
a:visited{
  color: #555555;
}
a:hover {
  color: #000000;
}

ul, li {
    color: #000000;
    list-style-type: disc;
}
