body {
  width: 60%;
  font-size: 115%;
  font-family: "Georgia", serif;
  text-align: left;
  color: #222222;
  background-color: #eeeeee;
}

h1, h2, h3 {
  font-family: "Verdana", sans-serif;
  color: #e5a40e;
  padding: 0%;
  margin: 0%;
  text-align: left;
  text-decoration: bold;
}

h1 {
  font-size: 190%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 115%;
}

img {
  width: 100%;
}

table {
  align: center;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}

tr {
  padding: 0%;
}
td {
  vertical-align: top;
  padding: 2%;
}

hr {
  border-width: 0;
  background-color: #e5a40e;
  height: 2px;
}

@media screen and (max-width: 900px) {
  body {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

button {
  background-color: #d2d2be;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 130%;
  border: none;
  border-radius: 8px;
  color: #343420;
  margin: 2%;
  padding: 3%;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #343420;
  color: #d2d2be;
}

button:active {
  background-color: #d2d2be;
  color: #343420;
}

a {
  text-decoration: none;
}
a:link {
  color: #e5a40e;
}
a:visited{
  color: #e5a40e;
}
a:hover {
  color: #222222;
}
